@import url("https://fonts.googleapis.com/css?family=Shadows+Into+Light");
@import url("https://fonts.googleapis.com/css?family=Noto+Sans+TC");
body {
  text-align: center;
  height: auto;
  max-width: 100%;
  margin: 1%; }

.desktop-nav {
  display: none; }

.search-bar {
  display: none; }

header {
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-color: white;
  margin-bottom: -4%; }
  header img {
    max-width: 80%;
    margin-left: 7%;
    padding-top: 10%; }
  header i {
    font-size: 3em;
    margin-top: 10%;
    margin-left: 60%; }

.mobile-nav nav {
  display: none;
  position: fixed;
  top: 10%;
  left: 2%;
  right: 2%;
  background-color: black;
  width: 95%; }
.mobile-nav ul {
  padding: 0;
  margin-right: 5%; }
.mobile-nav li {
  color: #f2702e;
  padding: 3.5%;
  font-size: 1.3em;
  text-align: center; }
.mobile-nav a {
  text-decoration: none; }
.mobile-nav nav.visible {
  display: block; }

main {
  background-color: #F0F0F0;
  margin-top: 3%; }

button {
  display: inline-block;
  border-radius: 4px;
  background-color: #f2702e;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 1.2em;
  padding: 3.5%;
  width: 40%;
  transition: all 0.5s;
  cursor: pointer;
  margin: 1%;
  margin-top: -3%;
  display: block;
  margin-left: auto;
  margin-right: auto; }

button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s; }

button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s; }

button:hover span {
  padding-right: 25px; }

button:hover span:after {
  opacity: 1;
  right: 0; }

hr {
  width: 80%;
  height: 0.2vh;
  background-color: black; }

p {
  font-family: 'Noto Sans TC', sans-serif;
  font-weight: bolder;
  font-size: 1.2em; }

h2 {
  font-family: 'Shadows Into Light', cursive;
  font-size: 2em; }

footer {
  text-align: center;
  height: auto;
  font-size: 0.7em; }

@media only screen and (min-width: 768px) {
  .mobile-nav {
    display: none; }

  .search-bar {
    display: block; }

  .desktop-nav {
    display: block;
    position: relative; }
    .desktop-nav ul {
      display: flex;
      justify-content: space-around;
      font-size: 1em;
      margin: 7% 0 0 0; }
    .desktop-nav li {
      padding: 3%; }

  header {
    grid-template-columns: 1fr 2fr 1fr; }
    header img {
      max-width: 70%;
      margin-left: 0;
      padding-top: 8%;
      margin-bottom: 5%; }
    header input {
      max-width: 50%;
      padding: 0.5% 2% 0.5% 2%;
      margin-right: -20%; }
    header button {
      width: 4vw;
      height: 4vh;
      padding: 0;
      margin-top: -1%; }
    header i {
      font-size: 0.7em;
      text-align: center;
      margin-left: 0;
      margin-top: -5%; }
    header a {
      text-decoration: none;
      color: #f2702e; }

  main {
    margin: 0 2% 0 2%; }

  .search-bar {
    margin-top: 13%;
    display: flex;
    justify-content: space-around;
    margin-left: 20%; }

  footer {
    font-size: 0.6em; } }
/* exhibition page */
.exh-title {
  padding-top: 6%; }

.autumn {
  text-align: center; }

.scabiosa {
  width: 100%;
  margin: 0;
  height: 35vh; }

.calender-p {
  margin-top: 1%;
  padding: 4%;
  padding-left: 8%;
  padding-right: 8%;
  text-align: justify;
  justify-content: all; }

.exh-section {
  padding-bottom: 1%; }

.contact-section {
  padding-bottom: 1%; }

.button {
  margin-top: 2%;
  margin-bottom: 7%; }

ul {
  list-style: none; }

/* contact page */
.contact-title {
  text-align: center; }

.contact {
  padding-top: 5%; }

i {
  font-size: 1em; }

li {
  font-size: 1.2em; }

.contact-info {
  text-align: justify;
  justify-content: all;
  padding-left: 22%;
  line-height: 4vh; }

.opening-all {
  margin-top: 10%; }

.opening {
  padding-bottom: 5%; }

.hours {
  line-height: 4vh;
  text-align: justify;
  justify-content: all;
  padding-left: 13%; }

/* map */
#map {
  height: 40vh;
  /* The height is 400 pixels */
  width: 100%;
  /* The width is the width of the web page */ }

/* form */
form {
  margin-left: 8%;
  text-align: justify;
  justify-content: all;
  font-size: 1.2em; }

.name {
  padding-left: 3%; }

.email {
  margin-left: 7%; }

input {
  height: 2.5vh;
  width: 50%;
  border-radius: 20px; }

.comment {
  padding-bottom: 40%;
  margin-left: 1%;
  padding-left: 2.5%; }

/*
textarea{
    margin-left: 2%;
    width: 50%;
    border-radius: 20px;
}*/
/* index page */
.index-section {
  padding-top: 1%; }

@media only screen and (min-width: 768px) {
  .scabiosa {
    height: 50vh; }

  .calender-p {
    padding-left: 12%;
    padding-right: 12%; }

  .exh-title2 {
    padding-top: 2%; }

  /* contact page */
  .contact-info {
    padding-left: 32%; }

  .hours {
    padding-left: 26%; }

  /* map */
  #map {
    height: 50vh; }

  .contact-title {
    padding-top: 1%; }

  /* form */
  form {
    margin-left: 15%; }

  .email {
    margin-left: 4.5%; } }

/*# sourceMappingURL=bruna.css.map */
