@import url("https://fonts.googleapis.com/css?family=Shadows+Into+Light");
@import url("https://fonts.googleapis.com/css?family=Noto+Sans+TC");
h1 {
  font-family: 'Shadows Into Light', cursive; }

h4 {
  font-family: 'Shadows Into Light', cursive;
  text-align: center; }

li {
  font-family: 'Noto Sans TC', sans-serif; }

body {
  text-align: center;
  height: auto;
  max-width: 100%;
  margin: 1%; }

.desktop-nav {
  display: none; }

.search-bar {
  display: none; }

header {
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-color: white;
  margin-bottom: -4%; }
  header img {
    max-width: 80%;
    margin-left: 7%;
    padding-top: 10%; }
  header i {
    font-size: 3em;
    margin-top: 10%;
    margin-left: 60%; }

.mobile-nav {
  z-index: 6; }
  .mobile-nav nav {
    display: none;
    position: fixed;
    top: 10%;
    left: 2%;
    right: 2%;
    background-color: black;
    width: 95%; }
  .mobile-nav ul {
    padding: 0;
    margin-right: 5%; }
  .mobile-nav li {
    color: #f2702e;
    padding: 3.5%;
    font-size: 1.3em;
    text-align: center; }
  .mobile-nav a {
    text-decoration: none; }
  .mobile-nav nav.visible {
    display: block; }

main {
  background-color: #F0F0F0;
  margin-top: 3%; }

button {
  display: inline-block;
  border-radius: 4px;
  background-color: #f2702e;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 1.2em;
  padding: 3.5%;
  width: 40%;
  transition: all 0.5s;
  cursor: pointer;
  margin: 1%;
  margin-top: -3%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  vertical-align: middle; }

button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s; }

button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s; }

button:hover span {
  padding-right: 25px; }

button:hover span:after {
  opacity: 1;
  right: 0; }

hr {
  width: 80%;
  height: 0.2vh;
  background-color: black; }

p {
  font-family: 'Noto Sans TC', sans-serif;
  font-weight: bolder;
  font-size: 1.2em; }

h2 {
  font-family: 'Shadows Into Light', cursive;
  font-size: 2em; }

footer {
  text-align: center;
  height: auto;
  font-size: 0.7em; }

/*  artist template page */
.template-main {
  padding: 0 5% 5% 5%; }
  .template-main p {
    text-align: justify; }
  .template-main img {
    margin-top: 2%;
    max-width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto; }
  .template-main h3 {
    padding-top: 3%;
    margin-bottom: -3%;
    font-size: 2em;
    font-family: 'Shadows Into Light', cursive; }

.template-exh-main {
  padding: 0 3% 3% 3%; }

.exhbition-post h3 {
  color: #f2702e;
  padding-top: 10%;
  font-size: 1.5em;
  font-family: 'Shadows Into Light', cursive; }
.exhbition-post p {
  text-align: center; }

@media only screen and (min-width: 768px) {
  .mobile-nav {
    display: none; }

  .search-bar {
    display: block; }

  .desktop-nav {
    display: block; }

  /* Main Navigation */
  .parent-ul {
    display: flex;
    justify-content: space-around;
    font-size: 1em;
    margin: 3.5% 0 0 0;
    /* Sub Menu */ }
    .parent-ul li {
      padding: 3%; }
    .parent-ul li.parent ul.child {
      display: none;
      /* Hide Sub Menu */
      padding: 3%;
      z-index: 1;
      width: 20%; }
    .parent-ul li.parent:hover ul.child {
      display: block;
      /* Show Sub Menu on Hover */
      position: absolute;
      top: 60px;
      left: 23%;
      background-color: black; }
    .parent-ul li.parent ul.child li {
      text-align: center;
      font-size: 1em; }
    .parent-ul li.parent ul.child li a {
      display: block; }

  header {
    grid-template-columns: 1fr 2fr 1fr; }
    header img {
      max-width: 70%;
      margin-left: 0;
      padding-top: 8%;
      margin-bottom: 5%; }
    header input {
      max-width: 50%;
      padding: 0.5% 2% 0.5% 2%;
      margin-right: -20%; }
    header button {
      width: 4vw;
      height: 4vh;
      padding: 0;
      margin-top: -1%; }
    header i {
      font-size: 0.7em;
      text-align: center;
      margin-left: 0;
      margin-top: -5%; }
    header a {
      text-decoration: none;
      color: #f2702e; }
    header a:hover {
      color: #B55423; }

  main {
    margin: 0 2% 0 2%; }

  .search-bar {
    margin-top: 13%;
    display: flex;
    justify-content: space-around;
    margin-left: 20%; }

  footer {
    font-size: 0.6em; }

  .template-main img {
    margin-top: 2%;
    max-width: 100%;
    height: 60vh; }
  .template-main h3 {
    margin-bottom: 3%;
    font-size: 2em; }

  .exhbition-post h3 {
    padding-top: 5%; }

  .template-exh-main {
    padding-bottom: 1%; } }
@media only screen and (min-width: 1200px) {
  header img {
    padding-top: 3%; }
  header input {
    max-width: 60%;
    height: 3.3vh;
    margin-right: -30%;
    margin-top: -1%; }
  header button {
    height: 4.2vh;
    width: 2.3vw; }

  .parent-ul {
    font-size: 1.2em;
    max-width: 70%;
    margin: 5% 0 0 10%;
    /* Sub Menu */ }
    .parent-ul li {
      padding: 1% 10% 1% 10%; }
    .parent-ul li.parent ul.child {
      padding: 2%;
      width: 15%; }
    .parent-ul li.parent:hover ul.child {
      left: 22%;
      top: 75px; }
    .parent-ul li.parent ul.child li {
      font-size: 1em; }

  main {
    margin: 4% 3% 0 3%; }

  .search-bar {
    margin-top: 11.5%; }

  .template-main {
    padding: 0 8% 3% 8%; }
    .template-main img {
      margin-top: 5%;
      height: 80vh; }
    .template-main h3 {
      margin-bottom: 3%;
      font-size: 2em; } }
/* exhibition page */
.exh-title {
  padding-top: 6%; }

.autumn {
  text-align: center; }

.exh-five {
  margin-left: 2%;
  margin-right: 2%; }

.scabiosa {
  width: 100%;
  margin: 0;
  height: 35vh; }

.calender-p {
  margin-top: 1%;
  padding: 4%;
  padding-left: 8%;
  padding-right: 8%;
  text-align: justify; }

.exh-section {
  padding-bottom: 1%; }

.contact-section {
  padding-bottom: 1%; }

.button {
  margin-top: 2%;
  margin-bottom: 7%; }

ul {
  list-style: none; }

/* contact page */
.contact-title {
  text-align: center; }

.contact {
  padding-top: 5%; }

i {
  font-size: 1em;
  margin-right: 2%; }

li {
  font-size: 1.2em; }

.contact-info {
  text-align: justify;
  padding-left: 15%;
  line-height: 4vh;
  margin-top: -5%; }

.opening-all {
  margin-top: 10%; }

.opening {
  padding-bottom: 5%; }

.hours {
  text-align: justify;
  padding: 6%;
  font-size: 1em;
  font-weight: lighter;
  margin-top: -7%; }
  .hours i {
    font-size: 0.7em; }

.lower-p {
  margin-top: -13%; }

/* map */
#map {
  height: 40vh;
  /* The height is 400 pixels */
  width: 100%;
  /* The width is the width of the web page */ }

/* form */
form {
  margin-left: 8%;
  text-align: justify;
  font-size: 1.2em; }

.name {
  padding-left: 3%; }

.email {
  margin-left: 7%; }

input {
  height: 2.5vh;
  width: 50%;
  border-radius: 20px; }

.comment {
  padding-bottom: 40%;
  margin-left: 1%;
  padding-left: 2.5%; }

/* index page */
.index-section h2 {
  padding-top: 5%; }
.index-section a {
  color: black; }
.index-section a:hover {
  color: #f2702e; }
.index-section hr {
  margin-top: 5%; }
.index-section img {
  vertical-align: middle;
  width: 100%;
  height: 35vh; }

.mySlides {
  display: none; }

/* Slideshow container */
.slideshow-container {
  width: 100%;
  position: relative;
  margin: auto; }

/* Caption text */
/* The dots/bullets/indicators */
.dot {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #717171;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
  text-align: center; }

.active {
  background-color: #f2702e; }

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s; }

@-webkit-keyframes fade {
  from {
    opacity: .4; }
  to {
    opacity: 1; } }
@keyframes fade {
  from {
    opacity: .4; }
  to {
    opacity: 1; } }
.index-section2 img {
  width: 100%;
  height: 35vh; }
.index-section2 li {
  margin-right: 12%; }
.index-section2 hr {
  margin-top: 5%; }

.section-hours ul {
  margin-left: 1%; }

.exh-mobile {
  display: block; }

.exh-desktop {
  display: none; }

.section-hours {
  display: block; }

.section-opening {
  display: none; }

@media only screen and (min-width: 768px) {
  .exh-mobile {
    display: none; }

  .exh-desktop {
    display: block;
    margin-left: 3%; }
    .exh-desktop img {
      padding-top: 6%; }
    .exh-desktop button {
      margin-left: 38%;
      width: 25%;
      padding: 2.5%;
      margin-bottom: 4%; }

  .exh2 p {
    padding-top: 9%; }
  .exh2 button {
    margin-top: 3%; }

  .exh {
    margin: 0 3% 0 -3%; }
    .exh p {
      padding-top: 5%; }

  .exh-grid {
    display: grid;
    grid-template-columns: 1fr 1fr; }

  /* contact page */
  .contact-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 5%;
    padding-left: 5%; }
    .contact-grid ul {
      padding: 6%; }
    .contact-grid h2 {
      padding-right: 5%;
      padding-top: 5%; }

  .contact-info li {
    margin-bottom: 1.5%; }

  .contact {
    margin-right: 35%;
    padding-top: 0; }

  .contact-h2 {
    margin-right: 15%; }

  .opening-all {
    margin-top: 0; }

  .hours {
    padding-left: 10%;
    padding-right: 8%; }

  /* map */
  #map {
    height: 50vh;
    width: 85%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-right: auto; }

  /* form */
  form {
    margin-left: 15%; }

  .email {
    margin-left: 4.5%; }

  .button-contact {
    margin-left: 25%;
    padding: 2.5%;
    width: 30%; }

  /* index page */
  .index-section img {
    width: 75%; }

  .index-section2 {
    width: 75%;
    display: block;
    margin-left: auto;
    margin-right: auto; }

  .section-hours {
    display: none; }

  .section-opening {
    margin-top: -2%;
    margin-left: 4%; }

  .opening-all ul {
    margin-left: 12%; } }
@media only screen and (min-width: 1200px) {
  .exh-desktop img {
    width: 90%; }
  .exh-desktop button {
    margin-left: 38%;
    width: 18%;
    padding: 2%;
    margin-bottom: 3%; }

  .exh2 p {
    margin-top: 4%;
    padding: 10%; }
  .exh2 button {
    margin-top: 1%; }

  .exh {
    margin: 0 0 0 -3%; }
    .exh button {
      margin-top: 0; }
    .exh p {
      margin-top: 5%;
      padding: 10%; }

  /* contact page */
  .contact-info {
    margin-left: 18%; }

  .contact {
    padding-top: 0; }

  .contact-h2 {
    margin-right: 10%; }

  .hours {
    padding-left: 23%; }

  .opening-all {
    margin-right: 5%; }

  /* form */
  form {
    margin-left: 23%; }

  .email {
    margin-left: 3%; }

  .button-contact {
    margin-left: 25%;
    padding: 2%;
    width: 25%; }

  /* index page */
  .index-section img {
    height: 55vh; }

  .index-section2 img {
    height: 70vh; }
  .index-section2 ul {
    margin-left: 5%;
    margin-top: 5%; }

  .contact {
    margin-right: 15%; }

  .section-opening {
    margin-right: 7%;
    padding-left: 0;
    margin-left: 5%; }

  .opening-all ul {
    margin-left: 10%; } }
