@import 'global';

/* exhibition page */

.exh-title{
    padding-top: 6%;
}

.autumn{
    text-align: center;
}

.scabiosa{
    width: 100%;
    margin: 0;
    height: 35vh;
}

.calender-p{
    margin-top: 1%;
    padding: 4%;
    padding-left: 8%;
    padding-right: 8%;
   text-align: justify;
    justify-content: all;
}

.exh-section{
    padding-bottom: 1%;
}

.contact-section{
    padding-bottom: 1%;
}

.button{
    margin-top: 2%;
    margin-bottom: 7%;
}

ul{
    list-style: none;
}

/* contact page */

.contact-title{
    text-align: center;
}

.contact{
    padding-top: 5%;
}
    
i{
    font-size: 1em;
}

li{
    font-size: 1.2em;
}

.contact-info{
    text-align: justify;
    justify-content: all;
    padding-left: 22%;
    line-height: 4vh;
}

.opening-all{
    margin-top: 10%; 
}

.opening{
    padding-bottom: 5%;
}

.hours{
    line-height: 4vh;
    text-align: justify;
    justify-content: all;
    padding-left: 13%;
}

/* map */

 #map {
        height: 40vh;  /* The height is 400 pixels */
        width: 100%;  /* The width is the width of the web page */
       }

/* form */

form{
    margin-left: 8%;
    text-align: justify;
    justify-content: all;
    font-size: 1.2em;
}

.name{
    padding-left: 3%;
}

.email{
   margin-left: 7%;
}

input{
    height: 2.5vh;
    width: 50%;
    border-radius: 20px;
}

.comment{
   padding-bottom: 40%;
   margin-left: 1%;
   padding-left: 2.5%;
}

/*
textarea{
    margin-left: 2%;
    width: 50%;
    border-radius: 20px;
}*/

/* index page */

.index-section{
    padding-top: 1%;
}

@media only screen and (min-width:768px) {
    
    .scabiosa{
        height: 50vh;
    }
    
    .calender-p{
    padding-left: 12%;
    padding-right: 12%;
    }
    
    .exh-title2{
        padding-top: 2%;
    }

    /* contact page */
    
    .contact-info{
    padding-left: 32%;
}
    
    .hours{
    padding-left: 26%;
}
    
    /* map */
    #map {height: 50vh;
    }
    
    .contact-title{
        padding-top: 1%;
}
    
    /* form */
    
    form{
    margin-left: 15%;
}
    
    .email{
   margin-left: 4.5%;
}
    
    .button-contact{
        margin-left: 20%;
    }
    
}