@import url('https://fonts.googleapis.com/css?family=Shadows+Into+Light');
@import url('https://fonts.googleapis.com/css?family=Noto+Sans+TC');


$primary-color: #F0F0F0;
$second-color: #f2702e;


body {
    text-align: center;
    height: auto;
    max-width: 100%;
    margin: 1%;  
}

header { 
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: white;
   
    img{ 
        max-width: 80%;
        margin-left: 7%;
        padding-top: 15%;
        margin-bottom: 1%;
    }
    
    i {
    font-size: 3em;
    margin-top: 16%;
    margin-left: 60%;
    }
    
    nav {
        display: none;
        position: fixed;
        top: 10%;
        left: 2%;
        right: 2%;
        background-color: black;
        width: 95%;
    }
    
    ul {
        padding: 0;
        margin-right: 5%;
    }
    
    li {
        color: $second-color;
        padding: 3.5%;
        font-size: 1.3em;
        text-align: center;
   }    
    
    a {
     text-decoration: none;
    }
    
    nav.visible {
        display: block;
    }
    
}
.desktop-nav{
    display: none;
}

main { 
    background-color: $primary-color;
}

button {
    display: inline-block;
  border-radius: 4px;
  background-color: $second-color;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 1.2em;
  padding: 3.5%;
  width: 40%;
  transition: all 0.5s;
  cursor: pointer;
  margin: 1%;
  margin-top: -3%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

button:hover span {
  padding-right: 25px;
}

button:hover span:after {
  opacity: 1;
  right: 0;
}

hr{
    width: 80%;
    height: 0.2vh;
    background-color: black;
}

p{
    font-family: 'Noto Sans TC', sans-serif;
    font-weight: bolder;
    font-size: 1.2em;
}

h2{
    font-family: 'Shadows Into Light', cursive;
    font-size: 2em;
}

footer{
    text-align: center;
    height: auto;
    font-size: 0.7em;
}
