@import url("https://fonts.googleapis.com/css?family=Shadows+Into+Light");
@import url("https://fonts.googleapis.com/css?family=Noto+Sans+TC");
body {
  text-align: center;
  height: auto;
  max-width: 100%;
  margin: 1%; }

.desktop-nav {
  display: none; }

.search-bar {
  display: none; }

header {
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-color: white;
  margin-bottom: -4%; }
  header img {
    max-width: 80%;
    margin-left: 7%;
    padding-top: 10%; }
  header i {
    font-size: 3em;
    margin-top: 10%;
    margin-left: 60%; }

.mobile-nav nav {
  display: none;
  position: fixed;
  top: 10%;
  left: 2%;
  right: 2%;
  background-color: black;
  width: 95%; }
.mobile-nav ul {
  padding: 0;
  margin-right: 5%; }
.mobile-nav li {
  color: #f2702e;
  padding: 3.5%;
  font-size: 1.3em;
  text-align: center; }
.mobile-nav a {
  text-decoration: none; }
.mobile-nav nav.visible {
  display: block; }

main {
  background-color: #F0F0F0;
  margin-top: 3%; }

button {
  display: inline-block;
  border-radius: 4px;
  background-color: #f2702e;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 1.2em;
  padding: 3.5%;
  width: 40%;
  transition: all 0.5s;
  cursor: pointer;
  margin: 1%;
  margin-top: -3%;
  display: block;
  margin-left: auto;
  margin-right: auto; }

button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s; }

button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s; }

button:hover span {
  padding-right: 25px; }

button:hover span:after {
  opacity: 1;
  right: 0; }

hr {
  width: 80%;
  height: 0.2vh;
  background-color: black; }

p {
  font-family: 'Noto Sans TC', sans-serif;
  font-weight: bolder;
  font-size: 1.2em; }

h2 {
  font-family: 'Shadows Into Light', cursive;
  font-size: 2em; }

footer {
  text-align: center;
  height: auto;
  font-size: 0.7em; }

@media only screen and (min-width: 768px) {
  .mobile-nav {
    display: none; }

  .search-bar {
    display: block; }

  .desktop-nav {
    display: block;
    position: relative; }
    .desktop-nav ul {
      display: flex;
      justify-content: space-around;
      font-size: 1em;
      margin: 7% 0 0 0; }
    .desktop-nav li {
      padding: 3%; }

  header {
    grid-template-columns: 1fr 2fr 1fr; }
    header img {
      max-width: 70%;
      margin-left: 0;
      padding-top: 8%;
      margin-bottom: 5%; }
    header input {
      max-width: 50%;
      padding: 0.5% 2% 0.5% 2%;
      margin-right: -20%; }
    header button {
      width: 4vw;
      height: 4vh;
      padding: 0;
      margin-top: -1%; }
    header i {
      font-size: 0.7em;
      text-align: center;
      margin-left: 0;
      margin-top: -5%; }
    header a {
      text-decoration: none;
      color: #f2702e; }

  main {
    margin: 0 2% 0 2%; }

  .search-bar {
    margin-top: 13%;
    display: flex;
    justify-content: space-around;
    margin-left: 20%; }

  footer {
    font-size: 0.6em; } }
.artist-desktop {
  display: none; }

.artist-mobile {
  padding-bottom: 3%; }

.artist {
  text-align: center;
  margin-bottom: 5%; }
  .artist img {
    max-width: 100%; }
  .artist ul {
    padding: 2%;
    margin-bottom: 10%; }
  .artist li {
    padding: 1%;
    font-size: 1.5em; }

.about-page {
  text-align: justify; }
  .about-page h2 {
    text-align: center;
    padding-top: 3%; }
  .about-page img {
    max-width: 100%; }
  .about-page p {
    padding: 3%; }

@media only screen and (min-width: 768px) {
  .artist-mobile {
    display: none; }

  .artist-desktop {
    display: block; }
    .artist-desktop img {
      max-width: 100%;
      margin-left: 3%; }
    .artist-desktop button {
      margin-top: 10%; }
    .artist-desktop h2 {
      padding-top: 3%; }

  .artist-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-bottom: 3%; } }
