@import 'global';
// artist page - mobile version

.artist-desktop {display: none;}
.artist-mobile {padding-bottom: 3%;
               
                 }
a {
    text-decoration: none;
}

.artist {text-align: center;
         margin-bottom: 5%;
    img {max-width: 100%;}
    ul {padding: 2%;
     margin-bottom: 10%;}
    li {padding: 1%;
    font-size: 1.5em;}
}
/// about page - mobile 

.about-page {text-align:justify;
    h2 {text-align: center;
    padding-top: 3%;}
    
    img {max-width: 100%;}
    p {padding: 3% 7% 3% 7%;}
}

.owners {text-align: justify;
    padding-bottom: 3%;
  img {max-width: 70%;
margin-top: 10%;
    display: block;
    margin-left: auto;
    margin-right: auto;}
    
    p {margin: -3% 7% 0 7%;}
    h4 {font-size: 1.5em;
    margin-top: 2%;}
     }



//Sculptor-page
.mutual-Artist-page {
    
    img {width: 100%;
    height: 30vh;}
    
    h3 {font-size: 1.5em;
    margin-bottom: 2%;}
}
.mutual-Artist-main {padding-bottom: 5%;
margin-top: 5%;
padding-top: 2%;}

// starting the tablet virsion 
@media only screen and (min-width:768px){
 
    .artist-mobile {display: none;
    }
    
    .artist-desktop {display: block;
          margin-left: 3%;
        margin-right: 3%;
    
        img {max-width: 100%;
      }
        
        button {margin-top: 10%;}
        
        h2 {padding-top: 3%;}
        

        
        
    }
  .artist-grid {display: grid;
                  grid-template-columns: 1fr 1fr;
    padding-bottom: 3%;}
    
    .about-page {

        img {width:85%;
                display: block;
        margin-left: auto;
        margin-right: auto;}
        
        p {
        margin-left: 4%;
        margin-right: 4%;}
    
}
    
    .owners { display: grid;
        grid-template-columns: 1fr 1fr;
      margin-right: 4%;
         margin-left: 4%;
            img {
    max-width: 60%;

    }
        p {
        font-size: 1em;}
    } 
    
    .mutual-Artist-grid {display:grid;
    grid-template-columns: 1fr 1fr;}
    
    .mutual-Artist-page{
        img {max-width: 80%;
          opacity: 1;}

        img:hover {
          opacity: 0.6;}
   }
    
}
@media only screen and (min-width:1200px){
    .artist-desktop{
        h2 { padding-top: 1%;}
        
        ul{margin-top: 13%;}
        button {margin-left: 33%;}
    }
 //  .artist-titles {margin-top:1%;} 
    
    .artist-page-title { padding-top: -0.5%;}
    .graphic-img {width: 100%;
                  height: 45vh;}
    
    .about-page{
        p {
        margin-left: 5%;
        margin-right: 5%;}
    }
    
    .owners{
        p {margin-top: 7%;
            padding: 0;
        margin-right: 7%;
        margin-left: 7%;}
        img {max-width:50%;
        margin-top: 10%;}
    }
    
    .mutual-Artist-main{
        h1{font-size: 2.2em;}
    }
    
    .mutual-Artist-page{
        img {max-width: 80%;
         height: 40vh;}
    }
}

